{% load static %}
{% for alumni_member in alumni_info %}
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6  mt-40">
        <div class="widget">
            <div class="widget-author">
                <div class="author-img">
                    <a href="author.html" class="image">
                        <img src="{{ alumni_member.user_image.url }}" alt="">
                    </a>
                </div>
                <div class="author-content">
                    <h6 class="name">{{ alumni_member.first_name }} {{ alumni_member.last_name }}</h6>
                    <p class="bio">
                        {{ alumni_member.bio }}
                    </p>
                    <div class="social-media">
                        <ul class="list-inline">
                            {% if alumni_member.linkedin_url is not None %}
                                <li>
                                    <a href="{{ alumni_member.linkedin_url }}" class="color-linkedin">
                                        <i class="fab la-linkedin color-linkedin"></i>
                                    </a>
                                </li>
                            {% endif %}
                            {% if alumni_member.telegram_url is not None %}
                                <li>
                                    <a href="{{ alumni_member.telegram_url }}" class="color-telegram">
                                        <i class="fab la-telegram color-telegram"></i>
                                    </a>
                                </li>
                            {% endif %}
                            {% if alumni_member.email is not None %}
                                <li>
                                    <a href="{{ alumni_member.email }}" class="color-telegram">
                                        <i class="fa-regular fa-envelope color-telegram"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}