{% load static %}
{#{% load account_tags %}#}
<div class="widget-author">
    <div class="author-img">
        <a href="author.html" class="image">
            <img src="{{ head_info.user_image.url }}" alt="">
        </a>
    </div>
    <div class="author-content">
        <h6 class="name"> {{ head_info.first_name }} {{ head_info.last_name }}</h6>
        <p class="bio">
            {{ head_info.bio }}
        </p>
        <div class="social-media">
            <ul class="list-inline">
                {% if head_info.linkedin_url is not None %}
                    <li>
                        <a href="{{ head_info.linkedin_url }}" class="color-linkedin">
                            <i class="fab la-linkedin color-linkedin"></i>
                        </a>
                    </li>
                {% endif %}
                {% if head_info.telegram_url %}
                    <li>
                        <a href="{{ head_info.telegram_url }}" class="color-telegram">
                            <i class="fab la-telegram color-telegram"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>