{% extends '_base.html' %}
{% load static %}
{% block title %}
    Reset password
{% endblock %}
{% block content %}

    <main class="main">
        <!--Login-->
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="sign widget ">
                    <div class="section-title">
                        <h5>Password reset</h5>
                    </div>
                    <form action="" class="sign-form widget-form contact_form"
                          method="post">
                        {% csrf_token %}
                        <p class="form-group text-center">Password reset Done successfully.</p>
                        <p class="form-group text-center">Please <a href="{% url 'accounts:login_view' %}"
                                                                    class="btn-link">Login</a></p>
                    </form>
                </div>
            </div>
        </section>

    </main>
{% endblock %}