{% extends '_base.html' %}
{% load static %}
{% block title %}
    Change password
{% endblock %}
{% block content %}

    <main class="main">
        <!--Change password-->
        <section class="mt-60 mb-60">
            <div class="container">
                <div class="sign widget ">
                    <div class="section-title">
                        <h5>Change Password</h5>
                    </div>
                    <form action="" class="sign-form widget-form" method="post">
                        {% csrf_token %}
                        <div class="alert alert-success contact_msg" style="display: none" role="alert">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="old password*" name="old_password"
                                   value="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="new password*" name="new_password1"
                                   value="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Re enter new password*" name="new_password2"
                                   value="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-custom">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </main>
{% endblock %}