{% extends '_base.html' %}
{% load static %}
{% block title %}
    Signup
{% endblock %}
{% block content %}

    <main class="main">
        <!--register-->
        <section class="mt-60  mb-60">
            <div class="container-fluid">
                <div class="sign widget">
                    <div class="section-title">
                        <h5>Sign up</h5>
                    </div>

                    <form class="sign-form widget-form  " method="post" action="{% url 'accounts:signup_view' %}">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert my_message {{ message.tags }}" role="alert">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">

                            <input type="text" class="form-control" placeholder="Username*" name="username" value="">
                        </div>
                        <div class="form-group">

                            <input type="email" class="form-control" placeholder="Email Address*" name="email" value="">
                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control" placeholder="Password*" name="password1"
                                   value="">
                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control" placeholder="Re-Password*" name="password2"
                                   value="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-custom">Sign Up</button>
                        </div>
                        <p class="form-group text-center">Already have an account? <a href="{% url 'accounts:login_view' %}"
                                                                                      class="btn-link">Login</a></p>
                    </form>
                </div>
            </div>
        </section>

    </main>

{% endblock %}