{% extends 'panel/panel_base.html' %}
{% load static %}
{% block panel_content %}

    <div class="main_content_iner overly_inner ">
        <div class="container-fluid p-0 ">

            <div class="row">
                <div class="col-12">
                    <div class="page_title_box d-flex flex-wrap align-items-center justify-content-between">
                        <div class="page_title_left d-flex align-items-center">
                            <h3 class="f_s_25 f_w_700 dark_text mr_30">Dashboard</h3>
                            <ol class="breadcrumb page_bradcam mb-0">
                                <li class="breadcrumb-item"><a href="{% url 'panel:panel_home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Admin List</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="white_card card_height_100 mb_30 pt-4">
                        <div class="white_card_body">
                            <div class="QA_section">
                                <div class="white_box_tittle list_header">
                                    <h4>Admin List </h4>
                                    <div class="add_button ms-2">
                                        <a href="{% url 'panel:user_list' %}" data-toggle="modal"
                                           data-target="#addcategory"
                                           class="btn_1">add admin</a>
                                    </div>
                                    <div class="box_right d-flex lms_block">
                                        <div class="serach_field_2">
                                            <div class="search_inner">
                                                <form Active="#">
                                                    <div class="search_field">
                                                        <input type="text" placeholder="Search content here...">
                                                    </div>
                                                    <button type="submit"><i class="ti-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="add_button ms-2">
                                            <a href="#" data-toggle="modal" data-target="#addcategory" class="btn_1">search</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="QA_table mb_30">

                                    <table class="table lms_table_active ">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">User</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">Email Address</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for admin in admins %}
                                            <tr>
                                                <th scope="row"><a href="#" class="question_content"> 1 </a></th>
                                                <td>{{ admin.full_name }}</td>
                                                <td>{{ admin.username }}</td>
                                                <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                       data-cfemail="d8afb7aab3ece8e198bfb5b9b1b4f6bbb7b5">{{ admin.email }}</a>
                                                </td>
                                                <td><a href="#">Admin</a></td>
                                                {% if admin.status == 'current' %}
                                                    <td><a href="#" class="status_btn">current</a></td>
                                                {% else %}
                                                    <td><a href="#" class="status_btn"
                                                           style="background: #ff3b00; ">Alumni</a>
                                                    </td>
                                                {% endif %}
                                                <td>
                                                    <div class="action_btns d-flex">
                                                        <a href="{% url 'panel:edite_user' admin.id %}"
                                                           class="action_btn mr_10"> <i
                                                                class="far fa-edit"></i>
                                                        </a>
                                                        <a href="{% url 'panel:un_role' admin.id %}" class="action_btn mr_10"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
