{% extends '_base.html' %}
{% load static %}
{% load post_tags %}
{% block title %}
    Blog
{% endblock %}
{% block content %}

    <main class="main">
        <!--category-->
        <section class="categorie-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="categorie-title">
                            <small>
                                <a href="index.html">Home</a>
                                <i class="fas fa-angle-right"></i> Travel
                            </small>
                            <h3>Category : <span> Travel</span></h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Incidunt quae explicabo, ducimus necessitatibus eum aut enim modi
                                saepe perspiciatis fugit
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--blog-grid-->
        <section class="blog-classic">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-9  side-content ">
                        <div class="theiaStickySidebar">
                            <div class="row">
                                <div class="col-lg-12 blog-list">
                                    {% for post in posts %}
                                        <!--Post-1-->
                                        <div class="post-list">
                                            <div class="post-list-image">
                                                <a href="post-default.html">
                                                    <img src="{{ post.image.url }}" alt="">
                                                </a>
                                            </div>
                                            <div class="post-list-content">
                                                <div class="entry-cat">
                                                    <a href="blog-grid.html" class="categorie"> travel</a>
                                                </div>

                                                <h4 class="entry-title">
                                                    <a href="post-default.html">{{ post.title }}</a>
                                                </h4>

                                                <div class="post-exerpt">
                                                    <p>{{ post.content }}</p>
                                                </div>

                                                <ul class="entry-meta list-inline">
                                                    <li class="post-author-img"><a href="author.html"> <img
                                                            src="assets/img/author/1.jpg" alt=""></a></li>
                                                    <li class="post-author"><a href="author.html">David Smith</a></li>
                                                    <li class="post-date"><span class="dot"></span> {{ post.created_at|date:"M d, Y" }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--/-->
                                    {% endfor %}
                                </div>
                            </div>


                            <!--pagination-->
                            <div class="pagination mt-30">
                                <ul class="list-inline">
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">4</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 max-width side-sidebar">
                        <div class="theiaStickySidebar">

                            <!--widget-latest-posts-->
                            {% latest_posts %}
                            <!--/-->

                            <!--widget-categories-->
                            <div class="widget">
                                <div class="section-title">
                                    <h5>Categories</h5>
                                </div>
                                <ul class="widget-categories">
                                    <li>
                                        <a href="#" class="categorie">Livestyle</a>
                                        <span class="ml-auto">22 Posts</span>
                                    </li>
                                    <li>
                                        <a href="#" class="categorie">Travel</a>
                                        <span class="ml-auto">18 Posts</span>
                                    </li>
                                    <li>
                                        <a href="#" class="categorie">Food</a>
                                        <span class="ml-auto">14 Posts</span>
                                    </li>
                                    <li>
                                        <a href="#" class="categorie">fashion</a>
                                        <span class="ml-auto">10 Posts</span>
                                    </li>
                                    <li>
                                        <a href="#" class="categorie">interior</a>
                                        <span class="ml-auto">14 Posts</span>
                                    </li>
                                    <li>
                                        <a href="#" class="categorie">art & design</a>
                                        <span class="ml-auto">10 Posts</span>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section><!--/-->

    </main>

{% endblock %}